:root{
  --cafe-claro: #e3b48c;
  --cafe: #4b2828;
  --cafe-fuerte: #222222;
  --blanco: #fff;
  --negro: #000;
}

.eliminar_btn{
  width: 15px;
  height: 15px;
  color: aliceblue;
}

.eliminar_btn:hover{
  cursor: pointer;
}

.btn_green{
  background-color: var(--cafe-claro);
}

.btn_green:hover{
  background-color: var(--cafe);
}

.logo{
  width: 40px;
  height: 40px;
  object-fit: contain;
}

